.book{
    display: flex;
    max-width: 95%;
    margin: 20px auto;
    justify-content: space-around;
  }
  
  .book_left{
    flex: 0.12;
    height: 470px;
    background-color: #FFFFFF;
  }
  .book_right{
    margin-top: 100px;
    flex: 0.85;
  }
  .book_right-hoa{  
    background-color: #F5F5F9;
    height: 480px;
    border-radius: 10px;
    padding-top: 15px;
    width: 550px;
  }
  .menu-item{
    background-color: #F5F5F9;
    padding : 15px 10px 0 10px;
    border-radius: 5px;
  }
  .menu>img{
    width: 150px;
    /* height: 80px; */
  }
  .menu-sub {
    display: block; /* Bắt đầu với display:block để chuyển động từ display:none không có hiệu ứng */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Thời gian và kiểu chuyển động có thể được điều chỉnh */
  }
  .menu-sub .menu-item {
    display: block;
    margin-right:4px;
  }
  .menu-sub.show {
    max-height: 1000px; /* Hoặc một giá trị đủ lớn để đảm bảo hiển thị đầy đủ nội dung */
  }
  .menu-link {
    text-decoration: none;
    color: #566A7F;
  }
  .Account>a{
    text-decoration: none;
    color: #4300fa;
   
  }
  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
.book_right-main{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    justify-content: space-between;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 300px; /* Điều chỉnh độ rộng của ô nhập */
    padding: 8px; /* Thêm padding để tăng kích thước */
    box-sizing: border-box; /* Đảm bảo rằng padding không tăng kích thước tổng */
}
input[accept="image/*"]{
    padding: 8px;
    color: brown;
}
input[type="submit"] {
    width: 80px; /* Đặt lại độ rộng cho nút gửi */
    margin-left: 20px;
    margin-top: 15px;
    padding: 5px;
    background-color: brown;
    border-radius: 5px;
    color: white;
    border: none;
}
